.header{
    background: #f8f9fa;
    padding: 12px 0;
}
.logo p {
    margin: 0;
    margin-top: 13px;
    margin-left: 42px;
    font-size: 20px;
}
.upore {
    margin-bottom: 254px;
}
.wrap-m{
    margin-left: 408px;
}